.pokemon-card {
    width: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding-top: 1rem;
        padding-right: 4rem;
        border-radius: 0.5rem;
    }

}